body{
background: #0052D4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFB830, #0F52BA, #FF2626);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFB830, #0F52BA, #FF2626); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

font-family: 'Hammersmith One', sans-serif;
}


