<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= title %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="/"><i class="fas fa-home"></i> Inicio
    
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact"><i class="far fa-paper-plane"></i> Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#about"><i class="fas fa-building"></i> Nosotros</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
